/* * {
    box-sizing: border-box;
  } */
.content-wrap {
    background-color: rgb(29, 27, 27);
    padding: 30px;
    text-align: center;
    font-size: 60px;
    color: white;
  }
  
body {
    background-color: rgb(194, 190, 190);
}
  h1 {
    text-decoration: underline overline;
    color: white;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-top: 100px;
    font-size: 60px;
  }
  
  .hstyle {
      /* margin-top: 100px; */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    margin-left: 60px;
  }
  .tstyle {
    box-sizing: border-box;
    width: 60%;
    height: 100px;
    padding: 30px;  
    border: 10px solid white;
      font-family: Arial, Helvetica, sans-serif;
      text-align: center;
      margin-left: 300px;
      margin-right:400px;
      float: left;
      color: black;
      font-size:x-large;
  }
   /* .tstyle {
    box-sizing: border-box;
    width: 300px;
    height: 100px;
    padding: 30px;  
    border: 10px solid white;
  } */
  /* .tbs{
      margin-top: 100px;
  }
  .ths{
      margin-top: 30px;
  } */
  .button {
    background-color: white;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  .button {
    background-color: white;
    color: black;
    border: 2px solid #555555;
    font-weight: bold;
  }
  .button:hover {
    background-color: #555555;
  color: white;
  font-weight: bold;
  }
  a:visited {
    color: black;
    background-color: transparent;
    font-weight: bold;
  }
  a:hover {
    color: white;
    background-color: transparent;
    text-decoration: underline;
  }
